<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>My Receipts</h1>
        <table>
            <tr>
                <th>
                    Vendor
                    <!-- column, list of properties -->
                </th>
                <th>
                    Total
                </th>
                <th>
                    Tax
                </th>
                <th>
                    Date
                </th>
                <th>
                    Category
                </th>
                <th>
                    Account
                </th>
            </tr>
            {% for receipt in receipts %}
            <tr>
                <td>
                    {{ receipt.vendor }}
                </td>

                <td>
                    {{ receipt.total }}
                </td>

                <td>
                    {{ receipt.tax }}
                </td>

                <td>
                    {{ receipt.date|date:"m/d/YY" }}
                </td>

                <td>
                    {{ receipt.category.name }}
                </td>

                <td>
                    {{ receipt.account.name }}
                </td>
            </tr>
            {% endfor %}
        </table>
        <!-- Start table
        6 colums
        one instance that has data for every column -->
    </main>

</body>
</html>
